:root {
    --color-app-1: #50acf7;
    --color-app-2: #f64396;
    --text-color-1: #555;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Sedgwick Ave Display';
}

body {
    background: linear-gradient(159deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
}

container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

title-app {
    text-align: center;
    font-size: 50px;
}

#big-title {}

#small-title {}

container-app {
    background: rgb(245 66 150 / 30%);
    padding: 20px;
    border-radius: 20px;
    border: 5px solid var(--color-app-1);
    width: 450px;
}

form {
    display: flex;
    flex-direction: column;
}

controll{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.icon-controll{
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    outline: 1.5px solid var(--color-app-1);
    background-color: rgba(18, 188, 254, .2);
    border-radius: 50%;

}

.icon-controll:hover{
    opacity: .7;
}

.icon-heart {
    color:  var(--color-app-2);
}

.icon-re {
    color:  var(--color-app-1);
}

.icon-download {
    color:  var(--text-color-1);
}


#input-title {
    height: 40px;
    outline: none;
    border: 1.6px solid var(--color-app-1);
    border-radius: 20px;
    padding: 10px;
    font-family: 'Sedgwick Ave Display';
    text-align: center;
    font-size: 18px;
}

#input-title::placeholder {
    color: var(--color-app-2);
    text-align: center;
    font-family: 'Sedgwick Ave Display';
}

text-controll {
    display: flex;
    justify-content: space-evenly;
    font-size: 22px;
    margin: 20px 0 0px 0;
    text-align: center;
}

.btn-controll {
    width: 175px;
    padding: 10px;
    outline: 1.6px solid var(--color-app-1);
    line-height: .9;
    border-radius: 20px;
    cursor: pointer;
}

.btn-controll:hover {
    color: var(--text-color-1);
}

.btn-file {
    cursor: pointer;
    position: absolute;
    width: 175px;
    left: 0px;
    top: 0px;
    z-index: 100;
    border-radius: 50px;
    height: 39px;
    font-size: 0px;
}

.btn-file::-webkit-file-upload-button {
    display: none;
}

.btn-file-top {
    position: relative;
}

output-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    background-position: center;
    position: relative;
    aspect-ratio: 1/1;
}

output-title {
    position: absolute;
    width: 90%;
    height: 40px;
    z-index: 100;
    background-color: rgb(80 172 247 / 30%);
    border-radius: 20px;
    border: 2px solid var(--color-app-1);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    font-size: 18px;
}